name: Build SEA [Windows]

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies (none)
        run: npm install

      - name: Find Node
        id: find-node
        run:
          echo "node=$(node -e 'console.log(process.argv[0]);')" >>
          $env:GITHUB_OUTPUT

      - name: Build SEA Executable
        uses: bryopsida/node-sea-action@v1
        with:
          executable-name: http.exe
          sea-config-path: ./sea-config.json
          working-dir: .
          output-dir: build
          node-path: ${{ steps.find-node.outputs.node }}

      - name: Upload executable
        uses: actions/upload-artifact@v4
        with:
          name: win-sea-exe
          path: build/
          if-no-files-found: error
