name: Build SEA [Windows]

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Build SEA Executable
        uses: bryopsida/node-sea-action@v1
        with:
          executable-name: http.exe
          sea-config-path: ./sea-config.json
          working-dir: .
          output-dir: .

      - name: Upload executable
        uses: actions/upload-artifact@v4
        with:
          name: http-sea-exe
          path: http.exe
